In [1]:
import pandas as pd

import os

In [2]:
school_data_to_load = os.path.join("schools_complete.csv")

student_data_to_load = os.path.join("students_complete.csv")

In [3]:
# Read the school data file and store it in a Pandas DataFrame.

school_data_df = pd.read_csv(student_data_to_load)

student_data_df = pd.read_csv(school_data_to_load)

In [4]:
# Read the school data file and store it in a Pandas DataFrame.

school_data_df = pd.read_csv(school_data_to_load)

school_data_df
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)

student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
# Combine the data into a single dataset.

school_data_complete_df = pd.merge(school_data_df, student_data_df, on=["school_name", "school_name"])

school_data_complete_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [6]:
# Get the total number of students.
student_count = school_data_complete_df.count()
student_count

School ID        39170
school_name      39170
type             39170
size             39170
budget           39170
Student ID       39170
student_name     39170
gender           39170
grade            39170
reading_score    39170
math_score       39170
dtype: int64

In [7]:
school_data_complete_df["Student ID"].count()

39170

In [8]:
# Calculate the total number of schools.
school_count = school_data_df["school_name"].count()
school_count

15

In [9]:
# Calculate the total number of schools
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [10]:
# Calculate the total budget.
total_budget = school_data_complete_df["budget"].sum()
total_budget

82932329558

In [11]:
# Calculate the total budget.
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [12]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [13]:
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [14]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87

In [15]:
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70

In [16]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87

In [17]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

In [18]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

In [19]:
print(passing_math_count)

print(passing_reading_count)

29370
33610

In [20]:
student_count = school_data_complete_df["Student ID"].count()

student_count

39170

In [21]:
# Calculate the percent that passed math.

passing_math_percentage = passing_math_count / float(student_count) * 100

# Calculate the percent that passed reading.

passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [22]:
print(passing_math_percentage)

print(passing_reading_percentage)

74.9808526933878
85.80546336482001

In [23]:
# Calculate the students who passed both math and reading.

passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,96,84

In [24]:
# Calculate the number of students who passed both math and reading.

overall_passing_math_reading_count = passing_math_reading["student_name"].count()

overall_passing_math_reading_count

25528

In [25]:
# Calculate the overall passing percentage.

overall_passing_percentage = overall_passing_math_reading_count / student_count * 100

overall_passing_percentage

65.17232575950983

In [26]:
district_summary_df = pd.DataFrame(
    
          [{"Total Schools": school_count,
            
          "Total Students": student_count,
            
          "Total Budget": total_budget,
            
          "Average Math Score": average_math_score,
            
          "Average Reading Score": average_reading_score,
            
          "% Passing Math": passing_math_percentage,
            
         "% Passing Reading": passing_reading_percentage,
            
        "% Overall Passing": overall_passing_percentage}])

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [27]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    
    print("Hello!")

In [28]:
# Call the function.

say_hello()

Hello!

In [29]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.

def say_something(something):
    
    print(something)

In [30]:
# Call the function.

say_something("Hello World")

Hello World

In [31]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"

say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [32]:
 # Define a function that calculates the percentage of students that passed both 
    
# math and reading and returns the passing percentage when the function is called.

def passing_math_percent(pass_math_count, student_count):
    
    return pass_math_count / float(student_count) * 100

In [33]:
passing_math_count = 29370

total_student_count = 39170

In [34]:
# Call the function.

passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [35]:
# A list of my grades.

my_grades = ['B', 'C', 'B' , 'D']

In [36]:
# Import pandas.

import pandas as pd

# Convert the my_grades to a Series

my_grades = pd.Series(my_grades)

my_grades

0    B
1    C
2    B
3    D
dtype: object

In [37]:
# Change the grades by one letter grade.

my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [38]:
# Using the format() function.

my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    
    print("{:.0f}".format(grade))

92
85
87
98

In [39]:
# Convert the numerical grades to a Series.

my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])

my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [40]:
# Format the grades to the nearest whole number percent.

my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

In [41]:
# Format the "Total Students" to have the comma for a thousands separator.

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [42]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [43]:
# Format the columns.

district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [44]:
# Reorder the columns in the order you want them to appear.

new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.

district_summary_df = district_summary_df[new_column_order]

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [45]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65